.modalBox{
    /* backgroundColor: "white",
    width: "50%",
    height: "50%",
    padding: 30,
    marginLeft: "25%",
    marginTop: "10%", */

    background-color: rgb(160, 224, 158);
    width: 50%;
    /* height: 90%; */
    padding: 30px;

}

.radioAndLabelDiv{
    display: flex;
    align-items:center;
    margin-bottom: 5px;
}